*{
	margin: 0; padding: 0; box-sizing: border-box;
	font-family: sans-serif;
}
body {
	overflow-x: none;
}
.container{
	width: 99vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
header {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	padding: 0 15px 0 15px;
	align-items: center;
	background: #3a3a3a;
}

header * {
	color: white;
}

header > div:first-child {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logotipe{
	width: 40%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.logotipe > img:first-child {
	width: 30%;
	height: auto;
	filter: brightness(140%);
}
.logotipe > img:nth-child(2) {
	width: 60%;
	height: 100%;
	filter: brightness(150%);
}
header > div:first-child > li {
	list-style: none;
	font-size: 20px;
	cursor: pointer;
}
header > div:first-child > li:nth-child(3) {
	border-bottom: 1px solid white;
}
.information_header_block {
	width: 200px;
	height: 50px;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	justify-content: center; 
}
.information_line {
	width: 60%;
	height: 1px;
	background: white;
	margin: 5px 0 5px 0;
}
content{
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content__greattimber{
	width: 100%;
	height: 70vh;
	display: flex;
	background: red;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(..//img/truck.jpg) no-repeat;
	background-attachment: cover;
	background-size: 100%;
}
.content__greattimber__box{
	width: 50%;
	height: 35%;
	background: black;
	opacity: 0.7;
	border-radius: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.content__greattimber__box > p{
	margin-top: 3vw;
	width: 90%;
	height: auto;
	color: #fff;
	font-size: 35px;
	opacity: 1;
	font-family: sans-serif;
	text-align: center;
}
h1{
	font-size: 34px;
	font-family: sans-serif;
	font-weight: normal;
}
p{
	margin-top: 3vh;
	font-size: 22px;
	font-family: sans-serif;
}
.content__nutshellaboutandourtimber{
	width: 70%;
	height: 40vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.cnaco__text{
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.line{
	width: 150px;
	height: 3px;
	background: black;
}
.cn__photo{
	width: auto;
	height: 85%;
	border-radius: 30px;
}
.cnt__photo{
	width: 40%;
	height: auto;
	border-radius: 30px;
}
.content__whychoose{
	width: 100%;
	height: 70vh;
	background: #F0EBEB;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content__whychoose__choose{
	width: 70%;
	height: auto;
}
.content__whychoose__cards{
	width: 70%;
	height: 80%;
	margin: 1%;
	display: grid;
	grid-template-rows: 37.5% 59.5%;
	grid-template-columns: 46% auto;
	grid-gap: 20px;
}
.dacks{
	width: 100%;
	height: 100%;
	grid-row: 1 / 3;
	background: url(..//img/dacks.png) no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
}
.boardand{
	width: 100%;
	height: 100%;
	grid-column: 2 / 3;
	background: url(..//img/board.png) no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
}
.rels{
	width: 100%;
	height: 100%;
	grid-column: 2 / 3;
	background: url(..//img/rels.png) no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
}
.cwc__box{
	margin: 0;
	width: 80%;
	height: 70%;
	background: black;
	opacity: 0.7;
	border-radius: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}
.cwc__box > p{
	margin: 0;
	width: 80%;
	color: #fff;
	opacity: 1;
	font-family: sans-serif;
	font-size: 28px;
}
.information_timber_row {
	width: 100%;
	height: 80px;
	background: #026346;
	display: flex;
	justify-content: center;
	align-items: center;
}

.information_timber_row span {
	font-size: 28px;
	color: white;
	margin-right: 50px;
	font-family: sans-serif;
}

.information_timber_row button, .contact_row button {
	width: 120px;
	height: 40px;
	border-radius: 15px;
	outline: none;
	border: none;
	background: #52B194;
	color: white;
	font-size: 16px;
	cursor: pointer;
	font-family: sans-serif;
}
/* Map */

.map {
	width: 100%;
	height: 500px;
}

/* Footer */

footer {
	width: 100%;
	height: 280px;
	background: #3A3A3A;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 80px;
	overflow: hidden;
}

footer * {
	color: white;
}

footer img {
	filter: brightness(0) invert(1);
}

.footer_content {
	width: 250px;
	height: 280px;
	display: flex;
	flex-direction: column;
}

.footer_content_title {
	width: 100%;
	height: 20px;
	display: flex;
	margin-bottom: 20px;
}

.footer_content_row {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	display: flex;
	align-items: flex-start;
}
.footer_content_row img {
	margin-right: 15px;
}

.footer_content:first-child > .footer_content_title {
	justify-content: flex-start;
}
.footer_content:nth-child(2) > .footer_content_title {
	justify-content: center;
}
.footer_content:nth-child(3) > .footer_content_title {
	justify-content: flex-end;
}

.footer_links {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer_links * {
	margin-bottom: 20px;
	text-decoration: none;
}

.footer_about_content {
	display: flex;
	flex-direction: column;
}

.footer_about_content span {
	text-align: right;
}

.footer_about_content span:first-child {
	margin-bottom: 30px;
	color: #818181;
}
