* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: comfortaa;
}

@font-face{
	font-family: 'comfortaa';
	src: url('../fonts/Comfortaa-VariableFont_wght.ttf');
}

html, body {
    overflow: visible;
}


.container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}

.main__start {
	height: calc(100vh - 100px);
	width: 100%;
	background-image: url('../img/main.jpg');
	background-attachment: cover;
	background-repeat: no-repeat;
	background-position: 0 -350px;
	background-size: 100%;
	display: flex;
	align-items: flex-end;
}

header {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	padding: 0 35px 0 35px;
	align-items: center;
	background: #3a3a3a;
}

header * {
	color: white;
}

.header__overlay {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__overlay > img {
	width: 148px;
	filter: brightness(140%);
}
.header__li {
	list-style: none;
	font-size: 20px;
	cursor: pointer;
}
.header__li:nth-child(2) {
	border-bottom: 1px solid white;
}
.information__header {
	width: 200px;
	height: 50px;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	justify-content: center; 
}
.information__line {
	width: 100%;
	height: 1px;
	background: white;
	margin: 5px 0 5px 0;
}

/*MainBlock*/

.main__quote {
	width: 100%;
	height: 400px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 100px;
}
.main__quote > h1 {
	font-size: 36px;
	color: white;
	margin-bottom: 15px;
}
.quote {
	font-size: 28px;
	width: 1200px;
	color: white;
	margin-bottom: 20px;
}
.slider__buttons {
	width: 200px;
	height: 80px;
	display: flex;
	justify-content: center;
}
.slider__button {
	width: 80px;
	height: 80px;
	outline: none;
	border: none;
	color: white;
	background: #7A7A7A;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	opacity: .8;
}
.slider_button:first-child {
	margin-right: 40px;
}
.slider__button > img, .form_wrapper img {
	filter: brightness(0) invert(1);
}
.slider__button:nth-child(1) > img {
	transform: rotate(180deg);
}

/* what we do */

.whatwedo {
	width: 100%;
	height: 350px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.whatwedo__main__row {
	width: 1300px;
	margin-bottom: 30px;
}

.whatwedo__title {
	font-size: 36px;
}

.whatwedo__blocks {
	width: 1300px;
	display: flex;
	justify-content: space-between;
}
.whatwedo__block {
	display: flex;
	flex-direction: column;
	height: 150px;
	width: 240px;
}

.whatwedo__row {
	width: 300px;
	height: 20px;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.whatwedo__line {
	width: 20px;
	height: 2px;
	background: black;
	margin-right: 5px;
}


.timber__row {
	width: 100%;
	height: 80px;
	background: #026346;
	display: flex;
	justify-content: center;
	align-items: center;
}

.timber__span {
	font-size: 24px;
	color: white;
	margin-right: 50px;
}

.timber__button, .contact__button {
	width: 120px;
	height: 40px;
	border-radius: 15px;
	outline: none;
	border: none;
	background: #52B194;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

/* Products */
.product__main__row {
	width: 1300px;
	margin-bottom: 30px;
}
button[read-more] {
	width: 145px;
	height: 45px;
	background: #026346;
	border-radius: 0 15px 0 15px;
	outline: none;
	border: none;
	color: white;
	font-size: 16px;
}

div[product] {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.product__prewiew {
	width: 100%;
	height: 870px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.product__items {
	width: 1300px;
	height: 660px;
	display: flex;
	margin-bottom: 40px;
}
.product__items > div:first-child {
	width: 400px;
	height: 100%;
	border-radius: 15px;
	background-image: url('../img/prewiew_one.jpg');
	background-size: 130%;
	background-repeat: no-repeat;
}

.product__items > div:nth-child(2) {
	width: 850px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.product__items > div:nth-child(2) > div:first-child {
	width: 800px;
	height: 315px;
	background: green;
	border-radius: 15px;
	background-image: url('../img/prewiew_two.jpg');
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: 0 -500px;	
	margin-bottom: 30px;
}

.product__items > div:nth-child(2) > div:nth-child(2) {
	width: 800px;
	height: 315px;
	display: flex;
}

.product__items > div:nth-child(2) > div:nth-child(2) > div {
	width: 390px;
	height: 315px;
	border-radius: 15px;
}

.product__items > div:nth-child(2) > div:nth-child(2) > div:first-child {
	margin-right: 30px;
	background-image: url('../img/prewiew_three.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.product__items > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
	background-image: url('../img/prewiew_four.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}
/* Contact row */

.contact__row {
	width: 100%;
	height: 80px;
	background: #026346;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 24px;
}

.contact__span {
	margin-right: 40px;
}

/* Map */

.map {
	width: 100%;
	height: 500px;
}

/* Footer */

footer {
	width: 100%;
	height: 280px;
	background: #3A3A3A;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 80px;
	overflow: hidden;
}

footer * {
	color: white;
}

footer img {
	filter: brightness(0) invert(1);
}

.footer__content {
	width: 250px;
	height: 280px;
	display: flex;
	flex-direction: column;
}

.footers__title {
	width: 100%;
	height: 20px;
	display: flex;
	margin-bottom: 20px;
}

.footers__row {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	display: flex;
	align-items: flex-start;
}
.footers__row img {
	margin-right: 15px;
}

.footer__content:first-child > .footers__title {
	justify-content: flex-start;
}
.footer__content:nth-child(2) > .footers__title {
	justify-content: center;
}
.footer__content:nth-child(3) > .footers__title {
	justify-content: flex-end;
}

.footer__links {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__links * {
	margin-bottom: 20px;
	text-decoration: none;
	font-size: 18px;
}

.about__footer {
	display: flex;
	flex-direction: column;
}

.about__footer span {
	text-align: right;
}

.about__span {
	margin-bottom: 30px;
	color: #818181;
}

/*Form*/

.form__wrapper {
	width: 900px;
	height: 450px;
	background: white;
	border-radius: 15px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 10px 0px rgba(50, 50, 53, 0.99);
	transition: .3s all;
	display: none;
}

.form__wrapper img {
	filter: brightness(0) invert(1) ;
}

.form__menu {
	width: 300px;
	height: 100%;
	background: #026346;
	border-radius: 15px 0 0 15px;
	display: flex;
	flex-direction: column;
	padding: 25px;
}

.contactus__title {
	color: white;
	margin-bottom: 20px;
}

.contactus__rows {
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	color: white;
}

.contactus__rows > img {
	margin-right: 10px;
	width: 24px;
}

.contactus__rows > span {
	font-size: 14px;
}