footer
    .footer__content
      .footers__title
        h2 Information
      .footers__row
        img(src='img/gps.png' alt='')
        span Ukraine, str. Galytska 84
      .footers__row
        img(src='img/phone.png' alt='')
        span 000-00-00-000
      .footers__row
        img(src='img/mail.png' alt='')
        span testmail@mail.com
    .footer__content
      img(src="img/logotype.png", alt="" footer__logo)
    .footer__content
      .footers__title
        h2 About us
      .about__footer
        span.about__span
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident accusantium minus voluptate aut adipisci possimus nulla.
        span.copyright &copy; Danya &amp; Mykola, 2020.