header
  .header__main__overlay
    .header__overlay
      img(src='img/logotype.png' alt='')
      a.header__li(href="index.html") Home
      a.header__li(href="about.html") About us
      a.header__li(href="products.html") Products
    .information__header
      span 000-00-00-000
      .information__line
      span City, str. Street 84